.btn-wp {
  display: flex;
  justify-content: center;
  button {
    margin: 15px;
    padding: 10px 15px;
    background: #ffffff;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: .3rem;
  }
}
